body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

h1 {
    text-align: center;
    margin: 20px 0;
    color: #115237;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.logo {
    height: 70px;
    width: auto;
}

.container {
    max-width: 70%;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    max-width: 100%;
    padding: 10px;
    margin: 5px 0 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: vertical;
}

button {
    background-color: #115237;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

.section {
    margin-bottom: 30px;
}

#output {
    margin-top: 20px;
    }


.output-container {
    background: #f4f4f4;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
    border: 1px solid #ddd;
}

.output-container strong {
    color: #333;
}

hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 10px 0;
}

.checkbox-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkbox-container input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: 0;
}

.checkbox-container label {
    margin: 0;
    font-size: 16px;
    line-height: 1;
}


.note-block {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 15px;
    background: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.note-header {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

.note-content {
    margin: 10px 0;
    font-size: 16px;
    color: #555;
}

.note-detail {
    margin: 5px 0;
    font-size: 14px;
    color: #666;
}

.note-detail strong {
    color: #333;
}

hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 10px 0;
}

